<div class="show-hide-animation view-frame">
    <div class="h4 font-bold text-center" style="padding-top: 30px;padding-bottom: 30px;">
        <span>{{vm.account.service_name}}</span>
    </div>

    <div class="list-group list-group-sm no-border">
        <div class="list-group-item no-border">
            <input type="text" placeholder="联系人" class="form-control no-border" data-ng-model="vm.account.customer_name"  >
        </div>
        <div class="list-group-item">
            <input type="text" placeholder="电话" class="form-control no-border" data-ng-model="vm.account.phone">
        </div>
        <div class="list-group-item">
            <span class="form-control no-border">{{ vm.account.company_name }}</span>
        </div>
    </div>
    <button type="submit" class="btn btn-lg btn-info btn-block" data-ng-click="vm.register()" >提交申请</button>
</div>
